<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title align="center">Calculadora Spring Boot</title>
</head>
<body>
	<p th:text=${titulo} align="center"></p>
	<div></div>
	<div></div>
	<textarea rows="1" cols="120" th:text=${resultadoSuma}></textarea>
	<div></div>
	<textarea rows="1" cols="120" th:text=${resultadoResta}></textarea>
	<div></div>
	<textarea rows="1" cols="120" th:text=${resultadoMultiplicacion}></textarea>
	<div></div>
	<textarea rows="1" cols="120" th:text=${resultadoDivision}></textarea>
</body>
</html>